* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titulo {
    display: inline-block;
    max-width: 700px;
    max-height: 20px;
    padding: 20px;
    margin: 10px;
    /* background-color: red; */
}

.titulo h1 {
    margin: 0;
    color: #1C1D1F;
    font-size: 2.3em;
}

.subtitulo {
    display: block;
    max-width: 400px;
    max-height: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin: 10px;
    /* background-color: red; */
}

.subtitulo h2{
    color: #1C1D1F;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

.menu-principal ul {
    list-style: none;
    padding: 20px 20px 0 20px;
}
.menu-principal li{
    position: relative;
    display: inline-block;
    max-width: 250px;
    
}

.menu-principal a{
    text-overflow: ellipsis;
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #5a5a5a;
    white-space: nowrap;
}

.menu-principal a.selected {
    color: black;
}

.curso {
    float: left; /*Colocando o curso no lado esquerdo*/
    padding: 5px; /*Definindo o padding do card*/
    margin: 5px 5px; /*Definindo a margem do card*/
    max-width: 260px; /*Definindo a largura máxima do card*/
    max-height: 300px; /*Definindo a altura máxima do card*/
    width: 100%; /*Definindo a largura do card*/
    height: 100%; /*Definindo a altura do card*/
    font-family: Arial, Helvetica, sans-serif; /*Definindo a fonte do card*/
}

.curso-info {
    padding: 10px; /*Definindo o padding do conteudo do card*/
    overflow: hidden;
}

.curso-info h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    font-size: 1.2em; /*Definindo o tamanho da fonte do titulo do card*/
    font-weight: 100; /*Definindo o peso da fonte do titulo do card*/
    color: #1C1D1F;
    font-weight: bold;
    margin: 0; /*Definindo a margem do titulo do card*/
}

.curso-info p{
    color: #6A6F73;
    font-size: 0.8em;
}

.preco-por {
    padding-left: 10px;
    color: #1C1D1F;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

.curso img {
    max-height: 50%; /*Definindo a altura da imagem do card*/
    width: 100%; /*Definindo a largura da imagem do card*/
    border: solid 1px #D1D7DC;
}
